@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "@fortawesome/fontawesome-free/css/all.css";

@import "blog";
@import "code";

body {
  outline: 1px pink solid;
}

input[type="checkbox"]::after {
  content: "";
  color: currentColor;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::after {
  content: "✓";
}

.hidden-options-toggle:checked+.hidden {
  display: block;
}

.password-revealer {
  @apply absolute;
  height: 45px;
  width: 45px;
  right: 0;
  bottom: 0;
}
